body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, table, tbody, th, tr, td {
    margin: 0;
    border: 0;
    padding: 0
}

body, html, form {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #FFFFFF;
    max-width: 1024px;
    height: 100%;
    -webkit-text-size-adjust: none;
}
a:link {
    cursor: pointer;
    color: rgb(243, 138, 31);
}
/*a:visited, a:hover, a:active {*/
    /*cursor: pointer;*/
    /*color: rgb(17, 46, 127)!important;*/
/*}*/
img {
    border: 0;
    max-width: 100%;
}

.ui-header-custom {
    text-align: right;
    padding-top: 0.5em;
    padding-right: 1em;
}
.ui-content-custom {
    padding: 0!important;
    min-height: 300px;
}
.page-home {
    /*background: url('../images/home.jpg') no-repeat;*/
    /*background-position: center!important;*/
    /*background-size: 100% 100%!important;*/
    /*-webkit-background-size: 100% 100% !important;*/
    /*-moz-background-size: 100% 100%!important;*/
    /*-o-background-size: 100% 100%!important;*/
    width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
    color: #FFFFFF;
    /*background-color: #000000!important;*/
    /*height: auto;*/
    /*padding-bottom: 60px;*/
}
.home-footer {
    position: absolute;
    bottom: 0;
    height: 180px!important;
    width: 100%!important;
    max-width: 1024px;
    color: #FFFFFF;
    background-color: none!important;
    padding-bottom: 0px!important;
    border: 0!important;
}
.home-bottom {
    position: relative;
    height: 160px;
    width: 100%;
}
.home-table {
    margin-top: 100px;
    height: 160px;
    width: 100%;
    border-spacing :0!important;
}
.home-table-lower {
    /*border-right: 2px solid;*/
    /*border-color: rgb(17, 46, 127) ;*/
    vertical-align:middle;
    text-align: center;
}
.home-table-upper {
    /*border-left: 2px solid;*/
    /*border-color: rgb(17, 46, 127) ;*/
    vertical-align:middle;
    text-align: center;
}

.ui-enter-house {
    background: url('../images/house_80.jpg') no-repeat!important;
    background-position: center!important;
    background-size: 100% 100%!important;
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;
    width: 80px;
    height: 120px;
    margin-left: 40px;
    padding-left: 0!important;
    padding-right: 0!important;
}
.ui-enter-car {
    background: url('../images/car_320.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    width: 100%;
    min-height: 240px;
    margin: 0 auto;
    padding-left: 0!important;
    padding-right: 0!important;
}
.ui-link-back-home {
    position: relative;
    /*float: right;*/
    padding-top: 10px;
    right: 2em;
}
.ui-link-enter-house {
    margin: 0 auto;
    padding-top: 5px;
    font-size: 9px;
    color: rgb(243, 138, 31);
}
.ui-link-enter-car {
    margin: 0 auto;
    padding-top: 5px;
    font-size: 9px;
    color: rgb(243, 138, 31);
}

.page-car {
    /*background: url('../images/car.jpg') no-repeat!important;*/
    /*background-position: center!important;*/
    /*background-size: 100% 100%!important;*/
    /*-webkit-background-size: 100% 100% !important;*/
    /*-moz-background-size: 100% 100%!important;*/
    /*-o-background-size: 100% 100%!important;*/
    width: 100%!important;
    height: auto;
    padding-left: 0!important;
    padding-right: 0!important;
    /*background-color: #000000!important;*/
    /*height: auto;*/
    /*padding-bottom: 60px;*/
}
.page-house {
    background: url('../images/house.jpg') no-repeat!important;
    background-position: center!important;
    background-size: 100% 100%!important;
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;
    width: 100%!important;
    height: auto;
    padding-left: 0!important;
    padding-right: 0!important;
    /*background-color: #000000!important;*/
    /*height: auto;*/
    /*padding-bottom: 60px;*/
}
/*.ui-button-border-custom {*/
    /*position: relative;*/
    /*align: center;*/
    /*border: 3px solid;*/
    /*-moz-border-radius: 10px;      *//* Gecko browsers */
    /*-webkit-border-radius: 10px;   *//* Webkit browsers */
    /*border-radius:10px;            *//* W3C syntax */
    /*height: 25px;*/
    /*border-color: #FFFFFF;*/
    /*margin: 0 auto;*/
    /*padding-top: 5px;*/
    /*color: #FFFFFF;*/
    /*font-family: fzhs;*/
    /*font-size: 12pt;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
/*}*/

.car-footer {
    position: absolute;
    bottom: 0;
    height: 192px!important;
    width: 100%!important;
    max-width: 1024px;
    color: #FFFFFF;
    background-color: none!important;
    padding-bottom: 0px!important;
    border: 0!important;
}
.car-bottom {
    position: relative;
    height: 192px;
    width: 100%;
}
.ui-car-background {
    background: url('../images/car_320.png') no-repeat!important;
    background-position: center!important;
    background-size: 100% 100%!important;
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;
    height: 240px;
}
.ui-car-icon-common {
    width: 32px;
    height: 32px;
    margin-left: 0.2em;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid;
    border-color: #FFFFFF;
}
.ui-car-icon-active {
    background-color: #282828;
    border: 2px solid;
    border-color: #A5A5A5;
}
.ui-car-icon-yellow {
    background: url('../images/rh.png') no-repeat!important;
    background-position: center!important;
    background-size: 100% 100%!important;
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;

}
.ui-car-icon-red {
    background: url('../images/kx.png') no-repeat!important;
    background-position: center!important;
    background-size: 100% 100%!important;
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;
}
.ui-car-icon-blue {
    background: url('../images/jy.png') no-repeat!important;
    background-position: center!important;
    background-size: 100% 100%!important;
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100%!important;
    -o-background-size: 100% 100%!important;
}